[Unit]
Description=Gunicorn instance to serve ElecColombia
After=network.target

[Service]
User=webadmon
Group=www-data
WorkingDirectory=/opt/dgweb/colombia
Environment="PATH=/opt/dgweb/venv1/bin"
ExecStart=/opt/dgweb/venv1/bin/gunicorn --workers 3 --bind unix:ElecColombia.sock -m 007 wsgi:server

[Install]
WantedBy=multi-user.target
